*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ahome {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.headshop {
    background-color: #888888;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
}

.h1shop {
    font-size: 24px;
    font-family: fuente1;
    font-weight: bold;
}

.carrito {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #D2DCDF;
}

.card {
    width: 250px;
    height: 350px;
    margin: 10px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card .Imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card h3 {
    font-size: 18px;
    color: #000000;
  }
  
  .card h4 {
    font-size: 16px;
    color: #888888;
  }
  
  .card button {
    font-size: 20px;
    color: #000000;
    cursor: pointer;
  }
  
  .card button:hover {
    color: red;
  }
  
  .productCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .productCards .card {
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .productCards .card {
      width: 100%;
      margin-right: 0;
    }
  }