*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.encabezadoconfig {
    height: 100px;
    background-color: rgb(  80, 80, 80);
    left: 0%;
}
.medio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
    align-items: center;
}
.subtitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}