@font-face {
    font-family:fuente2;
    src: url(../multimedia/Newtype.otf);
}
@font-face {
    font-family:fuente1;
    src: url(../multimedia/Black\ Pentacle.otf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: fuente2;
}
.fondo{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../multimedia/img1.JPG);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountbox{
    width: 380px;
    height: 480px;
    background-color: #E6FCFF;
}

.boxbutton{
    display: grid;
    width: 220px;
    height: 40px;
    margin: 35px auto;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 20px 9px #cccccc;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.boxbutton a{
    text-decoration: none;
    color: black;
}

.socialbox{
    display: grid;
    margin-bottom: 10px;
    justify-content: center;

}

.socialibox{
    display: inline-block;
    text-decoration: none;
    width: 150px;
    height: 45px;
    line-height: 45px;
    color: black;
    margin: 0px;
    text-align: center;
    transition: all 0.3s ease;
}

.socialicons a{
    text-decoration: none;
    color: black;
    margin: 15px;
}

.socialbox .socialicons a:hover{
    cursor: pointer;
    color: #cccccc;
}

.boxform{
    display: grid;
    grid-template-rows: auto 1fr;
    align-content: center;
    justify-content: center;
}

.formulario input{
    text-decoration: none;
    border: none;
}

.formulario{
    display: grid;
    grid-template-rows: 100px 1fr;
    margin: 25px;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 80%;
    height: 25px;
    background: #E6FCFF;
    border-top: #E6FCFF;
    border-left: #E6FCFF;
    border-right: #E6FCFF;
    border-bottom: 2px solid black;
}

.checkbox{
    font-size: 12px;
    display: grid;
    justify-content: center;
    height: auto;
}

.btn{
    display: grid;
    width: 220px;
    height: 40px;
    margin: 35px auto;
    cursor: pointer;
    position: relative;
    box-shadow: 0 0 20px 9px #cccccc;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
}

.btn button{
    font-family: fuente2;
    border: none;
    border-bottom: none;
    text-decoration: none;
    color: black;
    background-color: #E6FCFF;
    cursor: pointer;
}

.homebtn{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
}

.homebtn a{
    text-decoration: none;
    color: black;
}