<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7d468a7c00.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="Account.css">
    <title>Rhein Account</title>
</head>
<body>
    <div class="fondo">
        <div class="accountbox">
            <div class="boxbutton">
                <a href="Register.html">Register</a>
            </div>
            <div class="socialbox">
                <div class="socialicons">
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                </div>
            </div>
            <div class="boxform">
                <div>
                    <input type="email" placeholder="Ingrese su Email" class="formulario">
                    <input type="password" placeholder="Ingrese su contraseña" class="formulario">
                </div>
            </div> 
            <div class="checkbox">
                <input type="checkbox">Remeber password</input>
            </div>
            <div class="homebtn">
                <a href="../index.html">Go Home</a>
            </div>
            <div class="btn">
                <button>Login</button>
            </div>
        </div>
    </div>




</body>
</html>