*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-rows: repeat(1,1fr);
}

header img{
    width: 100px;
}

header{
    height: 170px;
}


.boxnavbar{
    background-color: #cccccc;
    height: 170px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-items: center;
}

.boxnavbar input{
    height: 40px;
    width: 200px;
    background: #E6FCFF;
    border: #cccccc;
    text-decoration: none;
}

main{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 200px 1fr;
}