  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  @font-face {
    font-family:fuente2;
    src: url(../multimedia/Newtype.otf);
  }
  @font-face {
    font-family:fuente1;
    src: url(../multimedia/Black\ Pentacle.otf);
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    background-color: #E6FCFF;    
  }

  
.slide1{
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
  }
  
  .slide1 .slide2{
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(1000px * 20);
  }
  
  .slide1 .slide3{
    margin: 55px 3px;
    width: 1000px;
  }
  
  .slide1 .slide3 img{
    width: 100%;
  }
  
  @keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 10));
        transform: translateX(calc(-200px * 10));
    }
  }
  
  
  
  